{% extends "base_generic.html" %}

{% block content %}


<style>

</style>

  <br>
  <h2 class="tit">교육정보 List</h2>

  <input class="btn btn btn-info" type="button" value="신규입력" onClick="location.href='{% url 'education_create'%}'">

  <br><br>
  {% if education_list %}
  <table class="table">
      <tr bgcolor="#F7F7F7">
          <td><strong>교육명</strong></td>
          <td><strong>교육 시작일</strong></td>
          <td><strong>교육 종료일</strong></td>
          <td><strong>위탁교육 여부</strong></td>
          <td><strong>기관명</strong></td>
          <td><strong>비고</strong></td>
      </tr>

    {% for r in education_list %}
      <tr>
          <td><a href="{{ r.get_absolute_url }}">{{ r.edu_name }}</a></td>
          <td>{{ r.edu_start_date | date:'Y-m-d' }}</td>
          <td>{{ r.edu_end_date | date:'Y-m-d' }}</td>
          <td>{{ r.request_yn }}</td>
          <td>{{ r.agency_name }}</td>
          <td>{{ r.summary }}</td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>교육정보가 없습니다..</p>
  {% endif %}
{% endblock %}
