{% extends "base_generic.html" %}

{% block content %}
  <h1>사원 List</h1>
  <br>
  <a href="{% url 'comm_div_create'%}">신규입력</a>
  <br><br>
  {% if employee_list %}
  <table class="table">
      <tr bgcolor="silver">
          <td>사원명 </td><td>직급</td><td>기술등급</td><td>입사일자</td>
      </tr>

    {% for r in employee_list %}
      <tr>
          <td><a href="{{ r.get_absolute_url }}">{{ r.emp_name }}</a> </td><td>{{ r.emp_position_cd }}</td><td>{{ r.skill_grade_cd }}</td><td>{{ r.indate | date:'Y-m-d' }}</td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>사원정보가 없습니다..</p>
  {% endif %}
{% endblock %}

