{% extends "base_generic.html" %}

{% block content %}

<!-- 마스터 table 영역에 대한 스타일:Start -->
<style>
.main_table {
  border-collapse: separate;
  border-spacing: 0 5px;
}
</style>
<!-- 마스터 table 영역에 대한 스타일:End -->

<!-- Detail Tab 영역에 대한 스타일:Start -->
<style>
        .main {
            min-width: 320px;
            max-width: 1400px;
            padding: 10px;
            border-radius: 7px;;
            background: #ffffff;}

        section {
            display: none;
            padding: 20px 0 0;
            border-top: 1px solid #ddd;}

        .option_check {
              display: none;}

        label {
            display: inline-block;
            padding: 15px 25px;
            font-weight: 600;
            color: #bbb;
            border: 1px solid transparent;}

        label:hover {
            color: #2e9cdf;
            cursor: pointer;}

        /*input 클릭시, label 스타일*/
        input:checked + label {
              color: #555;
              border: 1px solid #ddd;
              border-top: 2px solid #2e9cdf;
              border-bottom: 1px solid #ffffff;}

        #tab1:checked ~ #content1,
        #tab2:checked ~ #content2,
        #tab3:checked ~ #content3,
        #tab4:checked ~ #content4,
        #tab5:checked ~ #content5,
        #tab6:checked ~ #content6 {
            display: block;}

        .td_pad_right {padding-right:5px;}
        .table_mtm {border-spacing:10px;}

    </style>
<!-- Detail Tab 영역에 대한 스타일:End -->
<td><span id="faq-title"><a href="{% url 'index' %}">Home</a></span></td><br>


<form action="" method="post" >
    {% csrf_token %}
    <table >

    <!-- 수정/입력경우에 따라(pk값이 존재하는지 여부에 따라) title변경:start -->
    {% if employee.emp_id %}
    <h2 class="tit">사원정보 수정</h2>
    {% else %}
    <h2 class="tit">사원정보 입력</h2>
    {% endif %}
    <!-- 수정/입력경우에 따라(pk값이 존재하는지 여부에 따라) title변경:end -->

    </table>

    <!-- Main 입력 영역:Start -->
    <table class="main_table">

    <!-- Master error 메시지처리:start -->
    {% if employee_form.errors %}
	<div id="errors">
			<ul>
                <font size="2em" color="red">{{ employee_form.errors }}</font>
			</ul>
	</div>
    {% endif %}
    <!-- Master error 메시지처리:end -->

        <tr>
            <td class="td_pad_right" align="right"><strong>{{ employee_form.emp_position_cd.label }}</strong></td><td>{{ employee_form.emp_position_cd }}</td>
            <td class="td_pad_right" align="right"><strong>{{ employee_form.emp_name.label }}</strong></td><td>{{ employee_form.emp_name }}</td>
            <td class="td_pad_right" align="right"><strong>{{ employee_form.skill_grade_cd.label }}</strong></td><td>{{ employee_form.skill_grade_cd }}</td>
            <td class="td_pad_right" align="right"><strong>{{ employee_form.gender.label }}</strong></td><td>{{ employee_form.gender }}</td>
        </tr>
        <tr>
            <td class="td_pad_right" align="right"><strong>{{ employee_form.birthdate.label }}</strong></td><td>{{ employee_form.birthdate }}</td>
            <td class="td_pad_right" align="right"><strong>{{ employee_form.mobile_no.label }}</strong></td><td>{{ employee_form.mobile_no }}</td>
            <td class="td_pad_right" align="right"><strong>{{ employee_form.emergency_telno.label }}</strong></td><td>{{ employee_form.emergency_telno }}</td>
            <td class="td_pad_right" align="right"><strong>{{ employee_form.emergency_rel.label }}</strong></td><td>{{ employee_form.emergency_rel }}</td>
        </tr>
        <tr>
            <td class="td_pad_right" align="right"><strong>{{ employee_form.postno.label }}</strong></td><td>{{ employee_form.postno }}</td>
            <td class="td_pad_right" align="right"><strong>{{ employee_form.email_addr.label }}</strong></td><td>{{ employee_form.email_addr }}</td>
            <td class="td_pad_right" align="right"><strong>{{ employee_form.indate.label }}</strong></td><td>{{ employee_form.indate }}</td>
            <td class="td_pad_right" align="right"><strong>{{ employee_form.outdate.label }}</strong></td><td>{{ employee_form.outdate }}</td>
        </tr>
        <tr>
            <td class="td_pad_right" align="right"><strong>{{ employee_form.addr.label }}</strong></td><td colspan="3">{{ employee_form.addr }}</td>
            <td class="td_pad_right" align="right"><strong>{{ employee_form.addr_dtl.label }}</strong></td><td colspan="3">{{ employee_form.addr_dtl }}</td>
        </tr>
        <tr>
            <td class="td_pad_right" align="right"><strong>{{ employee_form.work_base_date.label }}</strong></td><td>{{ employee_form.work_base_date }}</td>
            <td class="td_pad_right" align="right"><strong>{{ employee_form.work_base_year.label }}</strong></td><td>{{ employee_form.work_base_year }}</td>
            <td class="td_pad_right" align="right"><strong>{{ employee_form.work_base_month.label }}</strong></td><td>{{ employee_form.work_base_month }}</td>
            <td class="td_pad_right" align="right"><strong>{{ employee_form.evidence_method_cd.label }}</strong></td><td>{{ employee_form.evidence_method_cd }}</td>
        </tr>
        <tr>
            <td class="td_pad_right" align="right"><strong>{{ employee_form.skill_main.label }}</strong></td><td colspan="3">{{ employee_form.skill_main }}</td>
            <td class="td_pad_right" align="right"><strong>{{ employee_form.skill_major.label }}</strong></td><td colspan="3">{{ employee_form.skill_major }}</td>
        </tr>
        <tr>
            <td class="td_pad_right" align="right"><strong>{{ employee_form.summary.label }}</strong></td><td colspan="3">{{ employee_form.summary }}</td>
            <td class="td_pad_right" align="right"></td><td colspan="3"></td>
        </tr>

    </table>

    <button type="submit" class="btn btn btn-info">저   장</button>&nbsp&nbsp&nbsp
    <!--a href="{% url 'employee_list' %}">취소</a-->&nbsp&nbsp&nbsp

    <input class="btn btn btn-info" type="button" value="취소" onClick="location.href='{% url 'employee_list'%}'">&nbsp&nbsp&nbsp

    <!-- 수정일 때만(pk값이 존재할 때) 삭제 버튼 활성화:start -->
    {% if employee.emp_id %}
    <input class="btn btn btn-warning" type="button" value="전체삭제" onClick="location.href='{% url 'employee_delete' employee.emp_id %}'">
    {% endif %}
    <!-- 수정일 때만(pk값이 존재할 때) 삭제 버튼 활성화:end -->


    <!-- Master error 메시지처리:start -->
    {% if license_hisformset.errors or work_hisformset.errors  or edu_hisformset2.errors or pjt_hisformset2.errors %}

	<div id="errors">
			<ul>
                <font size="2em" color="red">
                    "상세 내역" 입력 에러 발생함..! 아래 상세 내역 입력 확인 바랍니다!
                </font>
			</ul>
	</div>
    {% endif %}
    <!-- Master error 메시지처리:end -->


    <!-- Main 입력 영역:End -->

    <br>



    <!-- Detail Tab 영역:Start -->
    <div class="main" style="text-align:left">

    <input class="option_check" id="tab1" type="radio" name="tabs" checked>
    <label for="tab1">학 력</label>

    <input class="option_check"  id="tab2" type="radio" name="tabs">
    <label for="tab2">자격증</label>

    <input class="option_check"  id="tab3" type="radio" name="tabs">
    <label for="tab3">경 력</label>

    <input class="option_check"  id="tab4" type="radio" name="tabs">
    <label for="tab4">교 육</label>

    <input class="option_check"  id="tab5" type="radio" name="tabs">
    <label for="tab5">주요기술</label>

    <input class="option_check"  id="tab6" type="radio" name="tabs">
    <label for="tab6">프로젝트 수행</label>

    <section id="content1" style="margin-bottom:20px;">

            <!-- Detail Tab 영역 중 학력:Start -->
            <!-- key필드는 display하지는 않지만 반드시 표기할 것 -->
            <table id="form_set_sch"  class="table table-condensed table-hover">
                <tr bgcolor="#F7F7F7">
                    <td><strong>{{ school_hisformset.form.school_his_id.label }}</strong></td>
                    <td><strong>{{ school_hisformset.form.emp_id.label }}</strong></td>
                    <td><strong>{{ school_hisformset.form.school_name.label }}</strong></td>
                    <td><strong>{{ school_hisformset.form.school_subject.label }}</strong></td>
                    <td><strong>{{ school_hisformset.form.graduate_date.label }}</strong></td>
                    <td><strong>{{ school_hisformset.form.evidence_status_cd.label }}</strong></td>
                    <td><strong>{{ school_hisformset.form.summary.label }}</strong></td>
                    <td><strong>삭제</td>
                </tr>
            {{ school_hisformset.management_form }}
            {% for form in school_hisformset %}
                <tr>
                    <td>{{ form.school_his_id }}</td>
                    <td>{{ form.emp_id }}</td>
                    <td>{{ form.school_name }}</td>
                    <td>{{ form.school_subject }}</td>
                    <td>{{ form.graduate_date }}</td>
                    <td>{{ form.evidence_status_cd }}</td>
                    <td>{{ form.summary }}</td>
                    <td>{{ form.DELETE }}</td>
                </tr>

                <!-- detail error 메시지처리:start -->
                {% if form.errors %}
                <tr>
                    <td colspan="7"><font size="2em" color="red">{{ form.errors }}</font></td>
                </tr>
                {% endif %}
                <!-- detail error 메시지처리:end -->

            {% endfor %}

            </table>

            <table id="empty_form_sch" style="display:none">
                <tr>
                    <td>{{ school_hisformset.empty_form.school_his_id }}</td>
                    <td>{{ school_hisformset.empty_form.emp_id }}</td>
                    <td>{{ school_hisformset.empty_form.school_name }}</td>
                    <td>{{ school_hisformset.empty_form.school_subject }}</td>
                    <td>{{ school_hisformset.empty_form.graduate_date }}</td>
                    <td>{{ school_hisformset.empty_form.evidence_status_cd }}</td>
                    <td>{{ school_hisformset.empty_form.summary }}</td>
                    <td>{{ school_hisformset.empty_form.DELETE }}</td>
                </tr>
            </table>

            <input type="button" value="상세내역 추가" id="add_more_sch" class="btn btn-info">
            <!-- Detail Tab 영역 중 학력:End -->


    </section>


    <section id="content2" style="margin-bottom:20px;">
            <!-- Detail Tab 영역 중 자격증:Start -->
            <!-- key필드는 display하지는 않지만 반드시 표기할 것 -->
            <table id="form_set_lic"  class="table table-condensed table-hover">
                <tr  bgcolor="#F7F7F7">
                    <td><strong>{{ license_hisformset.form.license_his_id.label }}</strong></td>
                    <td><strong>{{ license_hisformset.form.emp_id.label }}</strong></td>
                    <td><strong>{{ license_hisformset.form.license_cd.label }}</strong></td>
                    <td><strong>{{ license_hisformset.form.got_date.label }}</strong></td>
                    <td><strong>{{ license_hisformset.form.evidence_status_cd.label }}</strong></td>
                    <td><strong>{{ license_hisformset.form.summary.label }}</strong></td>
                    <td>삭제</td>
                </tr>
            {{ license_hisformset.management_form }}
            {% for form in license_hisformset %}
                <tr>
                    <td>{{ form.license_his_id }}</td>
                    <td>{{ form.emp_id }}</td>
                    <td>{{ form.license_cd }}</td>
                    <td>{{ form.got_date }}</td>
                    <td>{{ form.evidence_status_cd }}</td>
                    <td>{{ form.summary }}</td>
                    <td>{{ form.DELETE }}</td>
                </tr>

                <!-- detail error 메시지처리:start -->
                {% if form.errors %}
                <tr>
                    <td colspan="6"><font size="2em" color="red">{{ form.errors }}</font></td>
                </tr>
                {% endif %}
                <!-- detail error 메시지처리:end -->

            {% endfor %}

            </table>

            <table id="empty_form_lic" style="display:none">
                <tr>
                    <td>{{ license_hisformset.empty_form.license_his_id }}</td>
                    <td>{{ license_hisformset.empty_form.emp_id }}</td>
                    <td>{{ license_hisformset.empty_form.license_cd }}</td>
                    <td>{{ license_hisformset.empty_form.got_date }}</td>
                    <td>{{ license_hisformset.empty_form.evidence_status_cd }}</td>
                    <td>{{ license_hisformset.empty_form.summary }}</td>
                    <td>{{ license_hisformset.empty_form.DELETE }}</td>
                </tr>
            </table>

            <input type="button" value="상세내역 추가" id="add_more_lic" class="btn btn-info">
            <!-- Detail Tab 영역 중 자격증:End -->

    </section>


    <section id="content3" style="margin-bottom:20px;">
            <!-- Detail Tab 영역 중 경력:Start -->
            <!-- key필드는 display하지는 않지만 반드시 표기할 것 -->
            <table id="form_set_wor"  class="table table-condensed table-hover">
                <tr  bgcolor="#F7F7F7">
                    <td><strong>{{ work_hisformset.form.work_his_id.label }}</strong></td>
                    <td><strong>{{ work_hisformset.form.emp_id.label }}</strong></td>
                    <td><strong>{{ work_hisformset.form.company_name.label }}</strong></td>
                    <td><strong>{{ work_hisformset.form.work_start_date.label }}</strong></td>
                    <td><strong>{{ work_hisformset.form.work_end_date.label }}</strong></td>
                    <td><strong>{{ work_hisformset.form.emp_position.label }}</strong></td>
                    <td><strong>{{ work_hisformset.form.work_part.label }}</strong></td>
                    <td><strong>{{ work_hisformset.form.evidence_status_cd.label }}</strong></td>
                    <td><strong>{{ work_hisformset.form.summary.label }}</strong></td>
                    <td><strong>삭제</td>
                </tr>
            {{ work_hisformset.management_form }}
            {% for form in work_hisformset %}
                <tr>
                    <td>{{ form.work_his_id }}</td>
                    <td>{{ form.emp_id }}</td>
                    <td>{{ form.company_name }}</td>
                    <td>{{ form.work_start_date }}</td>
                    <td>{{ form.work_end_date }}</td>
                    <td>{{ form.emp_position }}</td>
                    <td>{{ form.work_part }}</td>
                    <td>{{ form.evidence_status_cd }}</td>
                    <td>{{ form.summary }}</td>
                    <td>{{ form.DELETE }}</td>
                </tr>

                <!-- detail error 메시지처리:start -->
                {% if form.errors %}
                <tr>
                    <td colspan="9"><font size="2em" color="red">{{ form.errors }}</font></td>
                </tr>
                {% endif %}
                <!-- detail error 메시지처리:end -->

            {% endfor %}

            </table>

            <table id="empty_form_wor" style="display:none">
                <tr>
                    <td>{{ work_hisformset.empty_form.work_his_id }}</td>
                    <td>{{ work_hisformset.empty_form.emp_id }}</td>
                    <td>{{ work_hisformset.empty_form.company_name }}</td>
                    <td>{{ work_hisformset.empty_form.work_start_date }}</td>
                    <td>{{ work_hisformset.empty_form.work_end_date }}</td>
                    <td>{{ work_hisformset.empty_form.emp_position }}</td>
                    <td>{{ work_hisformset.empty_form.work_part }}</td>
                    <td>{{ work_hisformset.empty_form.evidence_status_cd }}</td>
                    <td>{{ work_hisformset.empty_form.summary }}</td>
                    <td>{{ work_hisformset.empty_form.DELETE }}</td>
                </tr>
            </table>

            <input type="button" value="상세내역 추가" id="add_more_wor" class="btn btn-info">
            <!-- Detail Tab 영역 중 경력:End -->


    </section>

    <section id="content4" style="margin-bottom:20px;">

            <!-- Detail Tab 영역 중 교육:Start -->
            <!-- key필드는 display하지는 않지만 반드시 표기할 것 -->
            <table id="form_set_edu"  class="table table-condensed table-hover">
                <tr  bgcolor="#F7F7F7">
                    <td><strong>{{ edu_hisformset2.form.edu_his_id.label }}</strong></td>
                    <td><strong>{{ edu_hisformset2.form.edu_id.label }}</strong></td>
                    <td><strong>{{ edu_hisformset2.form.evidence_status_cd.label }}</strong></td>
                    <td><strong>{{ edu_hisformset2.form.summary.label }}</strong></td>
                    <td><strong>삭제</td>
                </tr>
            {{ edu_hisformset2.management_form }}
            {% for form in edu_hisformset2 %}
                <tr>
                    <td>{{ form.edu_his_id }}</td>
                    <td>{{ form.edu_id }}</td>
                    <td>{{ form.evidence_status_cd }}</td>
                    <td>{{ form.summary }}</td>
                    <td>{{ form.DELETE }}</td>
                </tr>

                <!-- detail error 메시지처리:start -->
                {% if form.errors %}
                <tr>
                    <td colspan="4"><font size="2em" color="red">{{ form.errors }}</font></td>
                </tr>
                {% endif %}
                <!-- detail error 메시지처리:end -->

            {% endfor %}

            </table>

            <table id="empty_form_edu" style="display:none">
                <tr>
                    <td>{{ edu_hisformset2.empty_form.edu_his_id }}</td>
                    <td>{{ edu_hisformset2.empty_form.edu_id }}</td>
                    <td>{{ edu_hisformset2.empty_form.evidence_status_cd }}</td>
                    <td>{{ edu_hisformset2.empty_form.summary }}</td>
                    <td>{{ edu_hisformset2.empty_form.DELETE }}</td>
                </tr>
            </table>

            <input type="button" value="상세내역 추가" id="add_more_edu" class="btn btn-info">
            <!-- Detail Tab 영역 중 교육:End -->

    </section>

    <section id="content5" style="margin-bottom:20px;">
        <!-- 마스터의 mtom Tab 영역 기술:start -->
        <table id="table_mtm" style="border-spacing:50px 10px; border-collapse: separate;">
            <div>"CTRL"key를 누르고 선택하세요..!<div>
        <tr>
            <td class="td_pad_right" align="center"><strong>{{ employee_form.skill_hw_cd.label }}</strong></td>
            <td class="td_pad_right" align="center"><strong>{{ employee_form.skill_os_cd.label }}</strong></td>
            <td class="td_pad_right" align="center"><strong>{{ employee_form.skill_olap_cd.label }}</strong></td>
            <td class="td_pad_right" align="center"><strong>{{ employee_form.skill_etl_cd.label }}</strong></td>
            <td class="td_pad_right" align="center"><strong>{{ employee_form.skill_dev_cd.label }}</strong></td>
            <td class="td_pad_right" align="center"><strong>{{ employee_form.skill_db_cd.label }}</strong></td>
            <td class="td_pad_right" align="center"><strong>{{ employee_form.skill_was_cd.label }}</strong></td>
        </tr>
        <tr>
            <td>{{ employee_form.skill_hw_cd }}</td>
            <td>{{ employee_form.skill_os_cd }}</td>
            <td>{{ employee_form.skill_olap_cd }}</td>
            <td>{{ employee_form.skill_etl_cd }}</td>
            <td>{{ employee_form.skill_dev_cd }}</td>
            <td>{{ employee_form.skill_db_cd }}</td>
            <td>{{ employee_form.skill_was_cd }}</td>
        </tr>
        </table>
        <!-- 마스터의 mtom Tab 영역 기술:End -->
    </section>


    <section id="content6" style="margin-bottom:20px;">

            <!-- Detail Tab 영역 중 프로젝트 수행:Start -->
            <!-- key필드는 display하지는 않지만 반드시 표기할 것 -->
            <table id="form_set_prj"  class="table table-condensed table-hover">
                <tr  bgcolor="#F7F7F7">
                    <td><strong>{{ pjt_hisformset2.form.pjt_his_id.label }}</strong></td>
                    <td><strong>{{ pjt_hisformset2.form.pjt_id.label }}</strong></td>
                    <td><strong>{{ pjt_hisformset2.form.company_name.label }}</strong></td>
                    <td><strong>{{ pjt_hisformset2.form.join_start_date.label }}</strong></td>
                    <td><strong>{{ pjt_hisformset2.form.join_end_date.label }}</strong></td>
                    <td><strong>{{ pjt_hisformset2.form.pjt_role.label }}</strong></td>
                    <td><strong>{{ pjt_hisformset2.form.kosa_conf_cd.label }}</strong></td>
                    <td><strong>{{ pjt_hisformset2.form.insurance_conf_cd.label }}</strong></td>
                    <td><strong>{{ pjt_hisformset2.form.his_status_cd.label }}</strong></td>
                    <td><strong>{{ pjt_hisformset2.form.summary.label }}</strong></td>
                    <td><strong>삭제</td>
                </tr>
            {{ pjt_hisformset2.management_form }}
            {% for form in pjt_hisformset2 %}
                <tr>
                    <td>{{ form.pjt_his_id }}</td>
                    <td>{{ form.pjt_id }}<input type="button" value="선택" onClick="showPopup('{{ form.pjt_id.html_name }}');"></td>
                    <td>{{ form.company_name }}</td>
                    <td>{{ form.join_start_date }}</td>
                    <td>{{ form.join_end_date }}</td>
                    <td>{{ form.pjt_role }}</td>
                    <td>{{ form.kosa_conf_cd }}</td>
                    <td>{{ form.insurance_conf_cd }}</td>
                    <td>{{ form.his_status_cd }}</td>
                    <td>{{ form.summary }}</td>
                    <td>{{ form.DELETE }}</td>
                </tr>

                <!-- detail error 메시지처리:start -->
                {% if form.errors %}
                <tr>
                    <td colspan="10"><font size="2em" color="red">{{ form.errors }}</font></td>
                </tr>
                {% endif %}
                <!-- detail error 메시지처리:end -->

            {% endfor %}

            </table>

            <table id="empty_form_prj" style="display:none">
                <tr>
                    <td>{{ pjt_hisformset2.empty_form.pjt_his_id }}</td>
                    <td>{{ pjt_hisformset2.empty_form.pjt_id }}</td>
                    <td>{{ pjt_hisformset2.empty_form.company_name }}</td>
                    <td>{{ pjt_hisformset2.empty_form.join_start_date }}</td>
                    <td>{{ pjt_hisformset2.empty_form.join_end_date }}</td>
                    <td>{{ pjt_hisformset2.empty_form.pjt_role }}</td>
                    <td>{{ pjt_hisformset2.empty_form.kosa_conf_cd }}</td>
                    <td>{{ pjt_hisformset2.empty_form.insurance_conf_cd }}</td>
                    <td>{{ pjt_hisformset2.empty_form.his_status_cd }}</td>
                    <td>{{ pjt_hisformset2.empty_form.summary }}</td>
                    <td>{{ pjt_hisformset2.empty_form.DELETE }}</td>
                </tr>
            </table>

            <input type="button" value="상세내역 추가" id="add_more_prj" class="btn btn-info">
            <!-- Detail Tab 영역 중 프로젝트 수행:End -->


    </section>

    <!-- Detail Tab 영역:End -->


</form>


<!-- 팝업창으로 전송하는 정보 -->
<form name="frmData" id="frmData" method="get">
    {% csrf_token %}
    <input type="text" name="inputId" id="inputId" value="" />
</form>



<!-- Detail Row 추가:Start -->
<script>
$('#add_more_sch').click(function() {
	var form_idx = $('#id_fk_school_his1-TOTAL_FORMS').val();
	console.log('idx', form_idx)

	$('#form_set_sch').append($('#empty_form_sch').html().replace(/__prefix__/g, form_idx));
	$('#id_fk_school_his1-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});

$('#add_more_lic').click(function() {
	var form_idx = $('#id_fk_license_his1-TOTAL_FORMS').val();
	console.log('idx', form_idx)

	$('#form_set_lic').append($('#empty_form_lic').html().replace(/__prefix__/g, form_idx));
	$('#id_fk_license_his1-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});

$('#add_more_wor').click(function() {
	var form_idx = $('#id_fk_work_his1-TOTAL_FORMS').val();
	console.log('idx', form_idx)

	$('#form_set_wor').append($('#empty_form_wor').html().replace(/__prefix__/g, form_idx));
	$('#id_fk_work_his1-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});

$('#add_more_edu').click(function() {
	var form_idx = $('#id_fk_edu_his1-TOTAL_FORMS').val();
	console.log('idx', form_idx)

	$('#form_set_edu').append($('#empty_form_edu').html().replace(/__prefix__/g, form_idx));
	$('#id_fk_edu_his1-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});

$('#add_more_ski').click(function() {
	var form_idx = $('#id_fk_Skill_his1-TOTAL_FORMS').val();
	console.log('idx', form_idx)

	$('#form_set_ski').append($('#empty_form_ski').html().replace(/__prefix__/g, form_idx));
	$('#id_fk_Skill_his1-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});

$('#add_more_prj').click(function() {
	var form_idx = $('#id_fk_pjt_his1-TOTAL_FORMS').val();
	console.log('idx', form_idx)

	$('#form_set_prj').append($('#empty_form_prj').html().replace(/__prefix__/g, form_idx));
	$('#id_fk_pjt_his1-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});


// 팝업창 호출하기 위한 함수:start
var openWin;
function showPopup(pId) {
    // post 방식으로 팝업창에 data 전달함.
    var pop_title = "popup";

    window.open("", pop_title, "width=500, height=700, left=700, top=218");

    var frmData = document.frmData;
    frmData.target = pop_title;
    frmData.inputId.value = "id_" + pId;
    frmData.action = "{% url 'pjt_popup' %}";

    frmData.submit();
}
// 팝업창 호출하기 위한 함수:end

</script>
<!-- Detail Row 추가:End -->



{% endblock %}

