{% extends "base_generic.html" %}

{% block content %}


<td><span id="faq-title"><a href="{% url 'index' %}">Home</a></span></td><br>



  <h2 class="tit">My favorite location list</h2>

<!-- 검색 조건 : start -->
<form method="get" action="{% url 'order_comp_list' %}">
    <table>
    <tr>
    <td>Subject</td> <td><input type="text" value="{{filter_1}}" name="filter_1"/></td>
    </tr>
    <tr>
    <td>Writer</td> <td><input type="text" value="{{filter_2}}" name="filter_2"/></td>
    </tr>
    <!-- page가 바뀌어도 selected 유지하기 위해 if 문 사용함 -->
    <tr>
    <td>order_by</td>
    <td>
      <select name="orderby" value="{{orderby}}" >
        <option value="talk_subject" {% if orderby == 'talk_subject' %} selected {% endif %} >subject(ASC)</option>
        <option value="-talk_subject" {% if orderby == '-talk_subject' %} selected {% endif %} >subject(DESC)</option>
        <option value="create_id" {% if orderby == 'create_id' %} selected {% endif %} >writer(ASC)</option>
        <option value="-create_id" {% if orderby == '-create_id' %} selected {% endif %} >writer(DESC)</option>
        <option value="update_dt" {% if orderby == 'update_dt' %} selected {% endif %} >update date(ASC)</option>
        <option value="-update_dt" {% if orderby == '-update_dt' %} selected {% endif %} >update date(DESC)</option>
      </select>
    </td>
    </tr>
    <tr>
    <td></td>
    <td><input class="btn btn btn-info" type="submit" name="submit" value="Search"/></td>
    </tr>
    </table>
</form>
<!-- 검색 조건 : end -->

<br><br>
<input class="btn btn btn-info" type="button" value="Create" onClick="location.href='{% url 'favorite_location_create'%}'">
  {% if favorite_location_list %}
  <table class="table">
      <tr bgcolor="#F7F7F7">
          <td><strong>Subject</strong></td>
          <td><strong>Writer</strong></td>
          <td><strong>Update date</strong></td>
      </tr>

    {% for r in favorite_location_list %}
      <tr>
          <td><a href="{{ r.get_absolute_url }}">{{ r.talk_subject }}</a></td>
          <td>{{ r.create_id }}</td>
          <td>{{ r.update_dt | date:'Y-m-d h:m' }}</td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>There is no content!</p>
  {% endif %}


<!-- paging 처리:start -->

<div class="pagination">
    <span class="step-links">
        <!--조회 조건 page뒤에 붙임 : 조회 조건 결과 paging 유지하기 위해서 : &filter_1={{filter_1}}&filter_2={{filter_2}}&orderby={{orderby}} -->
        {% if page_obj.has_previous %}
            <a href="?page=1&filter_1={{filter_1}}&filter_2={{filter_2}}&orderby={{orderby}}">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}&filter_1={{filter_1}}&filter_2={{filter_2}}&orderby={{orderby}}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&filter_1={{filter_1}}&filter_2={{filter_2}}&orderby={{orderby}}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&filter_1={{filter_1}}&filter_2={{filter_2}}&orderby={{orderby}}">last &raquo;</a>
        {% endif %}
    </span>
</div>
<!-- paging 처리:end -->


{% endblock %}
