{% extends "base_generic.html" %}

{% block content %}

<!-- 마스터 table 영역에 대한 스타일:Start -->
<style>
.main_table {
  border-collapse: separate;
  border-spacing: 0 5px;
}
</style>
<!-- 마스터 table 영역에 대한 스타일:End -->


<br>
<form action="" method="post" >
    {% csrf_token %}
    <table >

    <!-- 수정/입력경우에 따라(pk값이 존재하는지 여부에 따라) title변경:start -->
    {% if pjt.pjt_id %}
    <h2 class="tit">프로젝트 수정</h2>
    {% else %}
    <h2 class="tit">프로젝트 입력</h2>
    {% endif %}
    <!-- 수정/입력경우에 따라(pk값이 존재하는지 여부에 따라) title변경:end -->

    </table>

    <!-- Main 입력 영역:Start -->
    <table class="main_table">

    <!-- Master error 메시지처리:start -->
    {% if pjtform.errors %}
	<div id="errors">
			<ul><!-- 필드별 에러 발생 시 사용 예제
				{% for field in pjtform %}
					{% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
				{% endfor %}
                -->
                <!-- "--all--" error인 경우 출력 -->
                <font size="2em" color="red">{{ pjtform.errors }}</font>
			</ul>
	</div>
    {% endif %}
    <!-- Master error 메시지처리:end -->


        <tr>
            <td class="td_pad_right" align="right"><strong>{{ pjtform.pjt_name.label }}</strong></td><td>{{ pjtform.pjt_name }}</td>
            <td class="td_pad_right" align="right"><strong>{{ pjtform.order_comp_id.label }}</strong></td>
                                    <td>{{ pjtform.order_comp_id }} <input type="button" value="선택" onClick="showPopup();"></td>
            <td class="td_pad_right" align="right"><strong>{{ pjtform.pjt_type_cd.label }}</strong></td><td>{{ pjtform.pjt_type_cd }}</td>
        </tr>
        <tr>
            <td class="td_pad_right" align="right"><strong>{{ pjtform.pjt_location_cd.label }}</strong></td><td>{{ pjtform.pjt_location_cd }}</td>
            <td class="td_pad_right" align="right"><strong>{{ pjtform.pjt_start_date.label }}</strong></td><td>{{ pjtform.pjt_start_date }}</td>
            <td class="td_pad_right" align="right"><strong>{{ pjtform.pjt_end_date.label }}</strong></td><td>{{ pjtform.pjt_end_date }}</td>
        </tr>
        <tr>
            <td class="td_pad_right" align="right"><strong>{{ pjtform.use_skill.label }}</strong></td><td>{{ pjtform.use_skill }}</td>
            <td class="td_pad_right" align="right"><strong>{{ pjtform.summary.label }}</strong></td><td>{{ pjtform.summary }}</td>
            <td></td><td></td>
        </tr>
    </table>



    <!-- Main 입력 영역:End -->

    <br>
            <!-- Detail 영역 :Start -->
            <!-- key필드는 display하지는 않지만 반드시 표기할 것 -->
            <h3 class="tit_m">프로젝트 투입 인원</h3>

            <table id="form_set_sch"  class="table table-condensed table-hover">
                <tr bgcolor="#F7F7F7">
                    <td><strong>{{ pjt_hisformset.form.pjt_his_id.label }}</strong></td>
                    <td><strong>{{ pjt_hisformset.form.emp_id.label }}</strong></td>
                    <td><strong>{{ pjt_hisformset.form.company_name.label }}</strong></td>
                    <td><strong>{{ pjt_hisformset.form.join_start_date.label }}</strong></td>
                    <td><strong>{{ pjt_hisformset.form.join_end_date.label }}</strong></td>
                    <td><strong>{{ pjt_hisformset.form.pjt_role.label }}</strong></td>
                    <td><strong>{{ pjt_hisformset.form.kosa_conf_cd.label }}</strong></td>
                    <td><strong>{{ pjt_hisformset.form.insurance_conf_cd.label }}</strong></td>
                    <td><strong>{{ pjt_hisformset.form.his_status_cd.label }}</strong></td>
                    <td><strong>{{ pjt_hisformset.form.summary.label }}</strong></td>
                    <td><strong>삭제</td>
                </tr>
            {{ pjt_hisformset.management_form }}
            {% for form in pjt_hisformset %}
                <tr>
                    <td>{{ form.pjt_his_id }}</td>
                    <td>{{ form.emp_id }}</td>
                    <td>{{ form.company_name }}</td>
                    <td>{{ form.join_start_date }}</td>
                    <td>{{ form.join_end_date }}</td>
                    <td>{{ form.pjt_role }}</td>
                    <td>{{ form.kosa_conf_cd }}</td>
                    <td>{{ form.insurance_conf_cd }}</td>
                    <td>{{ form.his_status_cd }}</td>
                    <td>{{ form.summary }}</td>
                    <td>{{ form.DELETE }}</td>
                </tr>

                <!-- detail error 메시지처리:start -->
                {% if form.errors %}
                <tr>
                    <td colspan="10"><font size="2em" color="red">{{ form.errors }}</font></td>
                </tr>
                {% endif %}
                <!-- detail error 메시지처리:end -->

            {% endfor %}

            </table>

            <table id="empty_form_sch" style="display:none">
                <tr>
                    <td>{{ pjt_hisformset.empty_form.pjt_his_id }}</td>
                    <td>{{ pjt_hisformset.empty_form.emp_id }}</td>
                    <td>{{ pjt_hisformset.empty_form.company_name }}</td>
                    <td>{{ pjt_hisformset.empty_form.join_start_date }}</td>
                    <td>{{ pjt_hisformset.empty_form.join_end_date }}</td>
                    <td>{{ pjt_hisformset.empty_form.pjt_role }}</td>
                    <td>{{ pjt_hisformset.empty_form.kosa_conf_cd }}</td>
                    <td>{{ pjt_hisformset.empty_form.insurance_conf_cd }}</td>
                    <td>{{ pjt_hisformset.empty_form.his_status_cd }}</td>
                    <td>{{ pjt_hisformset.empty_form.summary }}</td>
                    <td>{{ pjt_hisformset.empty_form.DELETE }}</td>
                </tr>
            </table>

            <input type="button" value="상세내역 추가" id="add_more" class="btn btn-info">&nbsp&nbsp&nbsp
            <button type="submit" class="btn btn btn-info">저   장</button>&nbsp&nbsp&nbsp
            <input class="btn btn btn-info" type="button" value="취소" onClick="location.href='{% url 'pjt_list'%}'">

            <!-- 수정일 때만(pk값이 존재할 때) 삭제 버튼 활성화:start -->
            {% if pjt.pjt_id %}
            <input class="btn btn btn-warning" type="button" value="전체삭제" onClick="location.href='{% url 'pjt_delete' pjt.pjt_id %}'">
            {% endif %}
            <!-- 수정일 때만(pk값이 존재할 때) 삭제 버튼 활성화:end -->

    <!-- Detail 영역:End -->

</form>


<!-- Detail Row 추가:Start -->
<script>
$('#add_more').click(function() {
	var form_idx = $('#id_fk_pjt_his2-TOTAL_FORMS').val();
	console.log('idx', form_idx)

	$('#form_set_sch').append($('#empty_form_sch').html().replace(/__prefix__/g, form_idx));
	$('#id_fk_pjt_his2-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});

// 팝업창 호출하기 위한 함수:start
var openWin;
function showPopup() {
	openWin = window.open("{% url 'order_comp_popup' %}", "popup", "width=500, height=700, left=700, top=218");
}
// 팝업창 호출하기 위한 함수:end


</script>
<!-- Detail Row 추가:End -->


{% endblock %}

