{% extends "base_generic.html" %}

{% block content %}

<style>
#t_form td{width:500px;}
#b-line {
  border: 1px solid gray;
}
</style>



<br>
<br>
<form action="" method="post" >
    {% csrf_token %}
    <table >
    <h3>공통구분 수정</h3>
    {{ comm_div_form.as_table }}
    </table>
    <br>
<div id="b-line">
    <table id="form_set"  class="table table-condensed table-hover">
        <tr class="bg-success">
            <td>{{ comm_code_formset.form.comm_code.label }}</td>
            <td>{{ comm_code_formset.form.comm_code_name.label }}</td>
            <td>{{ comm_code_formset.form.display_order.label }}</td>
            <td>{{ comm_code_formset.form.use_yn.label }}</td>
            <td>{{ comm_code_formset.form.ref_field.label }}</td>
            <td>{{ comm_code_formset.form.summary.label }}</td>
            <td>삭제</td>
        </tr>
    {{ comm_code_formset.management_form }}
    {% for form in comm_code_formset %}
        <tr>
            <td>{{ form.comm_code }}</td>
            <td>{{ form.comm_code_name }}</td>
            <td>{{ form.display_order }}</td>
            <td>{{ form.use_yn }}</td>
            <td>{{ form.ref_field }}</td>
            <td>{{ form.summary }}</td>
            <td>{{ form.DELETE }}</td>
        </tr>
    {% endfor %}

    </table>

    <table id="empty_form" style="display:none">
        <tr>
            <td>{{ comm_code_formset.empty_form.comm_code }}</td>
            <td>{{ comm_code_formset.empty_form.comm_code_name }}</td>
            <td>{{ comm_code_formset.empty_form.display_order }}</td>
            <td>{{ comm_code_formset.empty_form.use_yn }}</td>
            <td>{{ comm_code_formset.empty_form.ref_field }}</td>
            <td>{{ comm_code_formset.empty_form.summary }}</td>
            <td>{{ comm_code_formset.empty_form.DELETE }}</td>
        </tr>
    </table>

    <input type="button" value="상세내역 추가" id="add_more" class="btn btn-warning">&nbsp&nbsp&nbsp
    <button type="submit" class="btn btn-warning">저   장</button>&nbsp&nbsp&nbsp
    <a href="{% url 'comm_divs' %}">취소</a>&nbsp&nbsp&nbsp
    <a href="{% url 'comm_div_delete' comm_div.comm_div_id %}">전체삭제</a>
</div>
</form>

<script>
$('#add_more').click(function() {
	var form_idx = $('#id_fk_comm_code1-TOTAL_FORMS').val();
	console.log('idx', form_idx)

	$('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
	$('#id_fk_comm_code1-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});
</script>


{% endblock %}

