{% extends "base_generic.html" %}

{% block content %}

<style>
#t_form td{width:500px;}
#b-line {
  border: 1px solid gray;
}
</style>



<br>
<br>
<form action="" method="post" >
    {% csrf_token %}
    <table >
    <h3>공통구분 수정</h3>
    {{ form.as_table }}
    </table>
    <br>
<div id="b-line">
    <table id="form_set"  class="table table-condensed table-hover">
        <tr class="bg-success">
            <td>{{ inline_form.form.comm_code.label }}</td>
            <td>{{ inline_form.form.comm_code_name.label }}</td>
            <td>{{ inline_form.form.display_order.label }}</td>
            <td>{{ inline_form.form.use_yn.label }}</td>
            <td>{{ inline_form.form.ref_field.label }}</td>
            <td>{{ inline_form.form.summary.label }}</td>
            <td>삭제</td>
        </tr>
    {{ inline_form.management_form }}
    {% for form in inline_form %}
        <tr>
            <td>{{ form.comm_code }}</td>
            <td>{{ form.comm_code_name }}</td>
            <td>{{ form.display_order }}</td>
            <td>{{ form.use_yn }}</td>
            <td>{{ form.ref_field }}</td>
            <td>{{ form.summary }}</td>
            <td>{{ form.DELETE }}</td>
        </tr>
    {% endfor %}

    </table>

    <input type="button" value="Add More" id="add_more" style="float: right;"  class="btn btn-warning">
    <table id="empty_form" style="display:none">
        <tr>
            <td>{{ inline_form.empty_form.comm_code }}</td>
            <td>{{ inline_form.empty_form.comm_code_name }}</td>
            <td>{{ inline_form.empty_form.display_order }}</td>
            <td>{{ inline_form.empty_form.use_yn }}</td>
            <td>{{ inline_form.empty_form.ref_field }}</td>
            <td>{{ inline_form.empty_form.summary }}</td>
            <td>{{ inline_form.empty_form.DELETE }}</td>
        </tr>
    </table>

    <button type="submit" class="btn btn-warning">저    장</button>
</div>
</form>

<script>
$('#add_more').click(function() {
	var form_idx = $('#id_fk_comm_code1-TOTAL_FORMS').val();
	console.log('idx', form_idx)

	$('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
	$('#id_fk_comm_code1-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});
</script>


{% endblock %}

