<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Soltronix</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



  <!-- Add additional CSS in static file -->
<!-- 부트스트랩 -->
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


<!-- 달력 -->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>



<script>
$(function() {
    $( ".cal" ).datepicker({
    changeYear: true,
    changeMonth: true,
    minDate: '-100y',
    currentText: '오늘 날짜',
    });
});
</script>


</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
        <ul class="sidebar-nav">
          <br><br><br>
          <li><a href="{% url 'index' %}">Home</a></li>
          <br>
          <li><a href="{% url 'comm_divs' %}">공통구분코드</a></li>
          <li><a href="">프로젝트 정보</a></li>
          <li><a href="">교육 정보</a></li>
          <br>
          <li><a href="{% url 'employee_list' %}">사원정보</a></li>
          <li><a href="">프로젝트 이력</a></li>
          <li><a href="">교육 이력</a></li>
          <br>
          <li><a href="">엑셀 다운로드</a></li>
        </ul>
     {% endblock %}
      </div>
      <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
    </div>
  </div>
</body>
</html>
