{% extends "base_generic.html" %}

{% block content %}
<td><span id="faq-title"><a href="{% url 'index' %}">Home</a></span></td><br>

<!-- 마스터 table 영역에 대한 스타일:Start -->
<style>
.main_table {
  border-collapse: separate;
  border-spacing: 0 5px;
}
</style>
<!-- 마스터 table 영역에 대한 스타일:End -->

<br>
<form action="" method="post" >
    {% csrf_token %}
    <table >

    <!-- 수정/입력경우에 따라(pk값이 존재하는지 여부에 따라) title변경:start -->
    {% if book.book_id %}
    <h2 class="tit">추천 도서 수정</h2>
    {% else %}
    <h2 class="tit">추천 도서 입력</h2>
    {% endif %}
    <!-- 수정/입력경우에 따라(pk값이 존재하는지 여부에 따라) title변경:end -->


    </table>



    <!-- Main 입력 영역:Start -->
    <table class="main_table">

    <!-- Master error 메시지처리:start -->
    {% if bookform.errors %}
	<div id="errors">
			<ul>
                <font size="2em" color="red">{{ bookform.errors }}</font>
			</ul>
	</div>
    {% endif %}
    <!-- Master error 메시지처리:end -->

        <tr>
            <td class="td_pad_right" align="right"><strong>{{ bookform.book_name.label }}</strong></td><td>{{ bookform.book_name }}</td>
        </tr>
        <tr>
            <td class="td_pad_right" align="right"><strong>{{ bookform.author_name.label }}</strong></td><td>{{ bookform.author_name }}</td>
        </tr>
        <tr>
            <td class="td_pad_right" align="right"><strong>{{ bookform.genre_cd.label }}</strong></td><td>{{ bookform.genre_cd }}</td>
        </tr>
        <tr>
            <td class="td_pad_right" align="right"><strong>{{ bookform.recommend_yn.label }}</strong></td><td>{{ bookform.recommend_yn }}</td>
        </tr>
        <tr>
            <td class="td_pad_right" align="right"><strong>{{ bookform.summary.label }}</strong></td><td>{{ bookform.summary }}</td>
        </tr>
        <tr>
            <td class="td_pad_right" align="right"><strong>{{ bookform.input_name.label }}</strong></td><td>{{ bookform.input_name }}</td>
        </tr>
        <tr>
            <td class="td_pad_right" align="right"><strong>{{ bookform.read_date.label }}</strong></td><td>{{ bookform.read_date }}</td>
        </tr>
    </table>

    <button type="submit" class="btn btn btn-info">저   장</button>
    <input class="btn btn btn-info" type="button" value="취소" onClick="location.href='{% url 'author_list'%}'">

    <!-- 수정일 때만(pk값이 존재할 때) 삭제 버튼 활성화:start -->
    {% if book.book_id %}
    <input class="btn btn btn-warning" type="button" value="삭제" onClick="location.href='{% url 'book_delete' book.book_id %}'">
    {% endif %}
    <!-- Main 입력 영역:End -->

</form>



{% endblock %}

